{% load static %}
<section id="footer" class="footer bg-dark bg-gradient text-white py-3">
    <footer class="d-flex align-items-center mt-auto">
      <div class="container">
        <div class="d-block d-lg-flex justify-content-between align-items-center">
          <div class="mb-lg-0 text-center text-lg-start">
            <p class="text-secondary mb-2 mb-lg-0">
              <img
                src="{% static "images/log.png" %}"
                class="image mb-2"
                height="25px"
                width="25px"
                alt="logo"
              /><span class="fw-bold fs-5 ">
                <span class="text-danger fw-bold f5-3">Fly</span><span class="text-white">high</span>
              </span> <span class="text-white">
                Aviation Services
              </span>
              <br class="d-lg-none" />
              
            </p>
          </div>
          <div>
            <span class="text-white mx-auto">Copyright &copy; 2024 All rights reserved.</span>
          </div>
          <div class="text-center text-lg-end mt-2 mt-lg-0">
            <p class="text-secondary mb-0">
              <a href="#" class="text-white text-decoration-none mx-2">Privacy Policy</a> | 
              <a href="#" class="text-white text-decoration-none mx-2">Terms of Service</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </section>
  