{% extends 'base.html' %}


{% block content %}
<style>
    body {
        background: linear-gradient(to right, #ff7e5f, #feb47b);
        min-height: 80vh;
    }
    .card {
        background: linear-gradient(to right, #a1c4fd, #c2e9fb);
        border-radius: 0.25rem;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
<section class="section-conten padding-y bg" style="min-height: 80vh;">
<div class="container-fluid my-2">
	<div class="row">
	{% include 'base/dashboard_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header bg-dark bg-gradient text-white">
			<strong class="d-inline-block mr-3">Change Your Password</strong>

		</header>
		<div class="card-body border-dark fw-bold">
			<div class="row">
			<div class="col-md-12">
				<form action="{% url 'change_password' %}" method="POST">
					{% csrf_token %}

					<div class="form-group col-md-4">
						<label>Current Password</label>
						<input type="password" name="current_password" placeholder="Current Password" class="form-control" required>
					</div>
					<div class="form-group col-md-4">
						<label>Create new password</label>
						<input type="password" name="new_password" placeholder="Create New Password" class="form-control" required>
					</div>
					<div class="form-group col-md-4">
						<label>Confirm new password</label>
						<input type="password" name="confirm_password" placeholder="Confirm New Password" class="form-control" required>
					</div>

					<input type="submit" value="Submit" class="btn btn-primary w-25 my-2">
				</form>
			</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}
