{% autoescape off %}

Hi {{ user.first_name }},

We regret to inform you that your ticket with PNR Number {{ pnr_number }} has been successfully canceled.

**Cancellation Details:**

- **Pnr Number:** {{ pnr_number }}
- **Flight:** {{ flight.flight_name }} ({{ flight.source.aerodrum_name }} {{ flight.source.city }} to {{ flight.destination.aerodrum_name }} {{ flight.destination.city }})
- **Flight Class:** {{ flight_class }}
- **Seat Numbers:** {{ seat_numbers }}
- **Departure Time:** {{ departure_time }}
- **Arrival Time:** {{ arrival_time }}

**Fare Details:**

  ** Your Payment Amount will be refunded 3 working days.
- **Grand Total:** {{ grand_total }}



{% if error_message %}
**Error Message:**

{{ error_message }}
{% endif %}

Thank you for choosing our service!

Best regards,  
The Flyhigh Aviation Team

{% endautoescape %}
