{% extends 'base.html' %}
{% block title %} Confirm Delete{% endblock title %}

{% block content %}
<style>
  body {
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient background */
    min-height: 80vh; /* Ensure the gradient covers the full viewport height */
}
.card {
    background: linear-gradient(to right, #a1c4fd, #c2e9fb); /* Fresh blue gradient */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for depth */
}
.btn-custom{
  width: 150px;
}
</style>

<div class="container-fluid" style="min-height: 80vh;">
    <div class="row">
        {% include "admin/sidebar.html" %}
        <div class="col-8">
            <div class="card">
                <div class="card-header bg-dark bg-gradient text-white">
                    <h5 class="my-2 py-2">Confirm Delete</h5>
                </div>
                <div class="card-body fw-bold">
                    <p>Are you sure you want to delete "{{ object }}"?</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-custom">Delete</button>
                        <a href="{% url 'class_list' %}" class="btn btn-secondary btn-custom">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
