{% extends 'base.html' %}
{% block title %} Flight Day Map List {% endblock title %}

{% block content %}
<style>
  body {
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Warm gradient background */
    min-height: 80vh; /* Ensure the gradient covers the full viewport height */
}
.card {
    background: linear-gradient(to right, #f8b500, #fceabb); /* Warm gradient for the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for depth */
}
.btn-custom {
    width: 150px;
}
</style>
    <div class="container-fluid my-1" style="min-height: 80vh;">
        <div class="row">
            {% include "admin/sidebar.html" %}
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h5 class="my-2 py-2">{{ title }}</h5>
                    </div>
                    <div class="card-body fw-bold">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="flight" class="my-1">Flight</label>
                                <select class="form-control fw-bold" id="flight" name="flight" required>
                                    <option value="" class="fw-bold">Select flight</option>
                                    {% for flight in flights %}
                                    <option value="{{ flight.pk }}" {% if flight.pk == flight_day_map.flight.pk %}selected{% endif %}>{{ flight.flight_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="day" class="my-1">Day</label>
                                <select class="form-control fw-bold" id="day" name="day" required>
                                    <option value="" class="">Select day</option>
                                    {% for day in days %}
                                    <option value="{{ day.pk }}" {% if day.pk == flight_day_map.day.pk %}selected{% endif %}>{{ day.day_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                           <div class="my-2">
                            <button type="submit" class="btn btn-primary w-25">Save</button>
                            <a href="{% url 'flight_day_map_list' %}" class="btn btn-secondary w-25">Cancel</a>
                           </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
{% endblock %}
